:root{
  --primary-color: #45A5A1;
  --primary-darker-color: #004B5B;
  --primary-lighter-color: #F4FCFF;
  --background-color: #fff;
  --text-color: #004C5D;
  --secondary-color: #FFA350;
}
.app{
  width: 100%;
  height: auto;
  min-height: 100vh;
  color: var(--text-color)
}
.sidebar-section{
  height: 100%;
  width: 30%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: .5px solid rgba(51,51,51,.2);

}
.sidebar-section::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.chat{
  width: 100%;
  height: 90px;
  /* border: .5px solid rgba(51,51,51,.2); */
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border-radius: 10px;
  min-width: 300px !important;
  color: var(--primary-darker-color);
}
.chat:hover{
  background-color: var(--primary-lighter-color) !important;
  color: var(--text-color);
}
.profile-img{
  width: 60px;
  height: 60px;
  border-radius: 50%;

}
.chat-preview{
  min-width: 200px;
}
.chat-time{
  color: var(--text-color)
}
.new-message{
  color: var(--primary-color);
}
.message-pill{
  text-align:center;
  background-color: var(--primary-color);
  color: var(--primary-lighter-color);
  border-radius: 70px;
  width: 20px;
  height: auto;
  font-size: 12px;
  /*
  height: 20px; */
}
.typing{
  color: var(--secondary-color);
}

/* chat box section */

.chat-box{
  height: 100%;
  width: 70%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
  border-right: .5px solid rgba(51,51,51,.2);
  background-color: var(--primary-lighter-color);


}
.chat-box::-webkit-scrollbar {
  display: none;
}
.chat-header{
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.chat-header-user{
  width: 100%;
  height: 90px;
  border-radius: 10px;
  min-width: 300px !important;
  color: var(--primary-darker-color);
  background-color: var(--background-color);
}
.dot{
  background-color: var(--primary-color);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  /* background-color: ; */
}
.messages-container{
  height: 85%;
  position: relative;
  background-color: var(--primary-lighter-color);
  vertical-align: bottom;
}
.chat-input{
  bottom: 30px;
  right: 20px;
  width: 100%;
  position: fixed;
  box-sizing: content-box;

}
.chat-input input{
  height: 50px;
  width: 100%;
  border-radius: 30px;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(69,165,161, 0.8);
  box-shadow: none;
  outline: 0 none;
}
.send-btn{
  background-color: transparent;
  border: none;
}
.sent-message{
  background-color: var(--primary-color);
  color: var(--primary-lighter-color);
  min-width: 200px;
  max-width: 500px;
  border-radius: 20px 20px 0 20px;
  height: auto;
  margin-left: auto
  
}
.received-message{
  background-color: var(--background-color);
  color: var(--text-color);
  min-width: 200px;
  border-radius: 20px 20px 20px 0px;
  height: auto;
  margin-right: auto;
  border: .5px solid rgba(51,51,51,.2);

}
.message-time{
  font-size: 12px;
  text-align: end;
  color: var(--text-color);
}
.messages-inner{
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.messages-container{
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.messages-inner::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.messages-container::-webkit-scrollbar{
  display: none;
}
.inner-input{
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 50%;
}
/* end chat box section */
.top-container{
  height: 100vh;
}

/* start registration */
.modal-header{
  border: 0;
}
.modal-body{
  height: 625px;
}
.course-modal-submit-btn{
  width: 200px;
  height: 40px;
  background-color: var(--primary-color);
  color: var(--primary-lighter-color);
  border: 0;
  border-radius: 10px;
}
.course-modal-submit-btn:hover{
  background-color: var(--primary-darker-color);
  transition: .2s ease;

}
/* end registration */